.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

table {
    width: 50%;
}

th {
    height: 40px;
}

th {
    text-align: left;
}

table, th, td {
    border: 0px solid black;
}
