<h1>URL Shortener</h1>
<p></p>
<p>Add a new URL:<p>
<form action="/urls" method="post">
  <input type="text" name="url" value="">
  <input type="submit" value="Add">
</form>

<p></p>

<p>Here are your shortened URLs:<p>
<table>
<% @url.each do |url| %>
  <tr>
    <th>Original</th>
    <th>Shortened</th>
  </tr>
    <td><%=url.url%></td>
    <td><%=url.short_url%></td>
  </tr>
<% end %>
</table>
