<h1>Welcome to my URL Shortener</h1>
<p></p>

<form action="/login" method="post">
  What's the password for the cookie?<br><p></p>
  <input type="text" name="password"><br><p></p>
  <input type="submit" value="Login">
</form>
